/* adjust margins */
.steps {
  margin: 35px 0 25px;
}
.container {
  margin-bottom: 4ex;
  padding: 0 2em;
}

/* move buttons */
.App {
  width: unset;
  flex-flow: wrap;

  > .column {
    width: 100%;
  }

  > button {
    position: initial;
    margin: 1ex 1ex 3ex;
  }
}
